<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">
          <a class="navbar-brand" href="/">Rails 101 æˆ‘çˆ±ðŸ‘€ç”µå½±</a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <% if !current_user %>
               <li><%= link_to("æ³¨å†Œ", new_user_registration_path) %> </li>
               <li><%= link_to("ç™»å½•", new_user_session_path) %> </li>
              <% else %>
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Hi!, <%= current_user.email %>
                    <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu">
                     <li> <%= link_to("åŠ å…¥çš„ç¾¤", account_groups_path) %></li>
                     <li> <%= link_to("å‘è¡¨çš„è¯„è®º", account_reviews_path) %></li>
                     <li class="divider"> </li>
                     <li> <%= link_to("é€€å‡º", destroy_user_session_path, method: :delete) %> </li>
                 </ul>
               </li>
              <% end %>
          </ul>
      </div>

  </div>

</nav>
